<footer class="bg-dark navbar-dark">
    <nav>
        <div class="row">
            <div class="col d-none d-xl-block col-xl-4">
                <ul class="sanspoint">
                    <li><a href="/index">ACCUEIL</a></li>
                    <li><a href="/pneu">SERVICES</a></li>
                    <li><a href="/changementHuile">ENTRETIEN AUTOS</a></li>
                    <li><a href="/assistances">ASSISTANCES</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <ul class="sanspoint" >
                    <li><a href="">LOCALISATION</a></li>
                    <li><a href="">9944 Avenue de paris</a></li>
                    <li><a href="">Montréal H1H 4J7 - QC</a></li>
                    <li><a href="https://goo.gl/maps/eF3UPLHJTknQvdXr6">PLAN <img src="../public/images/gpslogo.png" width="50px" height="50px"></a></li>
                </ul>
    
            </div>
            
            <div class="col-12 col-sm-6 col-xl-4 ">
                <ul class="sanspoint">
                    <li><a href="">CONTACTEZ-NOUS</a></li>
                    <li><a href="">+(1) 514-508-3224</a></li>
                    <li><a href="">+(1) 438-933-8068</a></li>
                    <li><a href="">+(1) 438-936-1157</a></li>
                    <li><a href="">LTEautosservices@gmail.com</a></li>
                </ul>
            </div>
            
        </div>
      
    </nav>
    <p class="copyright">NAPA AUTOPRO 2020</p>
</footer>