<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="https://goo.gl/maps/eF3UPLHJTknQvdXr6">
      <img class="d-none d-md-block" src="../public/images/logo.jpg" height="120px" width="150px">
      <img class="d-block d-md-none" src="../public/images/logo.jpg" height="60px" width="75px"></a>
       
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/" id="accueil">ACCUEIL</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" 
          aria-expanded="false" role="button" id="services">SERVICES</a>
          <div class="dropdown-menu bg-dark ">
            <a class="dropdown-item text-light bg-dark" href="/">MECANIQUE GENERALE</a>
            <a class="dropdown-item text-light bg-dark" href="/pneu">VENTE PNEU NEUF ET OCCASSION</a>
            <a class="dropdown-item text-light bg-dark" href="/systeme">SYSTEME DE FREINAGE</a>
            <a class="dropdown-item text-light bg-dark" href="/systeme#amortisseur">AMORTISSEUR</a>
            <a class="dropdown-item text-light bg-dark" href="/systeme#suspension">SUSPENSION</a>
            
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" role="button" id="entretien">ENTRETIEN AUTOS</a>
          <div class="dropdown-menu bg-dark ">
            <a class="dropdown-item text-light bg-dark" href="/changementHuile">CHANGEMENT D'HUILE</a>
            <a class="dropdown-item text-light bg-dark" href="/changementHuile#probleme">ENTRETIEN BATERIE</a>
            <a class="dropdown-item text-light bg-dark" href="/pneu#pression">PRESSION DE PNEU</a>
            <a class="dropdown-item text-light bg-dark" href="/changementHuile#voyants">TEMOIN D'ANOMALIE</a>
            <a class="dropdown-item text-light bg-dark" href="/pneu#systeme">SYSTEME D'ALIGNEMENT PNEU</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/assistance" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" role="button" id="assistances">ASSISTANCES</a>
          <div class="dropdown-menu bg-dark ">
            <a class="dropdown-item text-light bg-dark" href="/assistance">PNEU CREUVÉ</a>
            <a class="dropdown-item text-light bg-dark" href="/assistance">PROBLEME DE DEMARRAGE</a>
            <a class="dropdown-item text-light bg-dark" href="/assistance">PANNE DE CARBURANT</a>
            <a class="dropdown-item text-light bg-dark" href="/assistance">PORTIERE VEROUILLÉ</a>
            <a class="dropdown-item text-light bg-dark" href="/assistance">REMORQUAGE</a>  
          </div>
        </li>            

      </ul>
    </div>  
  </nav>
  <div id="couleur" class="d-none d-md-block"><i class="fas fa-car"></i>
    <span>RETROUVEZ NOUS ICI</span><a href="https://goo.gl/maps/eF3UPLHJTknQvdXr6"><img src="../public/images/gpslogo.png" width="50px" height="50px">
    </a>
    <!-- <img src="../public/images/autologo.png" width="50px" height="30px"> -->
  </div>

  <div id="couleur" class="d-md-none">
    <a href="https://goo.gl/maps/eF3UPLHJTknQvdXr6"><img id="imglogo" src="../public/images/gpslogo.png" width="50px" height="50px"></a>
  </div>
 
 