<!DOCTYPE html>
<html lang="en">
<head>
  <title>L.T.E. Autos Services </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../public/styles/styles.css" />
</head>
<body>
 
<div class="container">
  <%-include('./partials/testNav1')%>
     
  <div class="row">
    <div class="col d-none d-lg-block col-lg-2"></div>
    <div class="jumbotron  col-12 col-md-8 col-lg-5">
      <h2 class="display-4 d-none d-lg-block">CHANGEMENT D'HUILE</h2>
      <h2 class=" display-6 d-block d-lg-none">CHANGEMENT D'HUILE</h2>
      <p class="lead">Changement d'huile</p>
    </div>
    <img src="../public/images/changementhuile.jpg" class="col d-none d-md-block col-md-3">
    <div class="col d-none d-lg-block col-lg-2"></div>
  </div>

  <div class="row d-md-none">
    <div class="col-3" ></div>
    <img src="../public/images/changementhuile.jpg" id="changementHuile1" class="col-6">
    <img src="../public/images/charge-batterie1.jpg" id="changementHuile2" class="d-none">
    <img src="../public/images/voyantanomalie.png" id="changementHuile3" class="d-none">
    <div class="col-3"></div>
  </div>



  <div class="row"> 
    <div class="col d-none d-lg-block col-lg-2"></div>
    <img src="../public/images/charge-batterie1.jpg" class="col d-none d-md-block col-md-3">  
    <div class="jumbotron  col-12 col-md-8 col-lg-5">
      <h2 id="probleme" class="display-4 d-none d-lg-block">PROBLEME DE BATTERIE ET DEMARRAGE</h2>
      <h2 id="probleme" class=" display-6 d-block d-lg-none">PROBLEME DE BATTERIE ET DEMARRAGE</h2>
      <p class="lead">Probleme de batterie, difficulté de demarrage, probleme éléctrique</p>
    </div>
    <div class="col d-none d-lg-block col-lg-2"></div>
  </div>

  <div class="row"> 
    <div class="col d-none d-lg-block col-lg-2"></div>  
    <div class="jumbotron  col-12 col-md-8 col-lg-5">
      <h2 id="voyants" class="display-4 d-none d-lg-block">VOYANTS D'ANOMALIES</h2>
      <h2 id="voyants" class=" display-6 d-block d-lg-none">VOYANTS D'ANOMALIES</h2>
      <p class="lead">Analyse des Voyants d'anomalies et Resolutions des defauts</p>
    </div>
    <img src="../public/images/voyantanomalie.png" class="col d-none d-md-block col-md-3">
    <div class="col d-none d-lg-block col-lg-2"></div>
  </div>

    <%-include('./partials/footer')%>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../public/js/jsgarage.js"></script>
</body>
</html>