<!DOCTYPE html>
<html lang="en">
<head>
  <title>L.T.E. Autos services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../public/styles/styles.css" />
</head>
<body>
 
<div class="container">
  <%-include('./partials/testNav1')%>

  <div class="row">
    <div class="col d-none d-lg-block col-lg-2"></div> 
    <div class="jumbotron  col-12 col-md-8 col-lg-5">
      <h2 class="display-6 d-block d-lg-none">PNEU D'ETE / HIVER NEUF</h2>
      <h2 class="display-4 d-none d-lg-block">PNEU D'ETE / HIVER NEUF</h2>
      <p class="lead">Nouvelle saison, service rapide et soigné</p>
    </div>
    <img src="../public/images/pneu1.jpg" id="pneuneuf1" class="col d-none d-md-block col-md-3 ">
    <img src="../public/images/imgpneu.jpg" id="pneuneuf2" class="d-none">
    <img src="../public/images/pneuneuf.jpg" id="pneuneuf3" class="d-none">
    <div class="col d-none d-lg-block col-lg-2"></div>   
  </div>
    
    <div class="row d-md-none">
      <div class="col-3" ></div>
      <img src="../public/images/pneu1.jpg" id="pneuneuf4" class="col-6">
      <img src="../public/images/imgpneu.jpg" id="pneuneuf5" class="d-none">
      <img src="../public/images/pneuneuf.jpg" id="pneuneuf6" class="d-none">
      <div class="col-3"></div>
    </div>
 

  <div class="row"> 
    <div class="col d-none d-lg-block col-lg-2"></div> 
  <img src="../public/images/pneu3.jpg" id="pneuoccas1" class="col d-none d-md-block col-md-3">
  <img  src="../public/images/occpneu.jpg" id="pneuoccas2" class="d-none">
  <img src="../public/images/occpneu2.jpg" id="pneuoccas3" class="d-none">  
  <div class="jumbotron  col-12 col-md-8 col-lg-5">
    <h2 class="display-6 d-block d-lg-none">GAMME DE PNEU D'OCCASSION</h2>
    <h2 class="display-4 d-none d-lg-block">GAMME DE PNEU D'OCCASSION</h2>
    <p class="lead">Pneu d'occassion premier choix avec garantie</p>
  </div>
  <div class="col d-none d-lg-block col-lg-2"></div> 
  </div>

  <div class="row">
    <div class="col d-none d-lg-block col-lg-2"></div> 
    <div class="jumbotron  col-12 col-md-8 col-lg-5">
      <h2 class="display-6 d-block d-lg-none" id="pression">PRESSION DES PNEUS</h2>
      <h2 class="display-4 d-none d-lg-block" id="pression">PRESSION DES PNEUS</h2>
      <p class="lead">Pneu d'occassion premier choix avec garantie</p>
    </div>
    <img src="../public/images/pression-pneu.jpg" class="col d-none d-md-block col-md-3">
    <div class="col d-none d-lg-block col-lg-2"></div>   
  </div>

  <div class="row"> 
    <div class="col d-none d-lg-block col-lg-2"></div> 
    <img src="../public/images/alignement1.jpg" class="col d-none d-md-block col-md-3">  
    <div class="jumbotron  col-12 col-md-8 col-lg-5">
      <h2 id="systeme" class="display-6 d-block d-lg-none">SYSTEME D'ALIGNEMENT PNEU</h2>
      <h2 id="systeme" class="display-4 d-none d-lg-block">SYSTEME D'ALIGNEMENT PNEU</h2>
      <p class="lead">Nous disposons des outils neccessaire et des competences pour rendre votre auto plus fiable</p>
    </div>
    <div class="col d-none d-lg-block col-lg-2"></div> 
  </div>

  <%-include('./partials/footer')%>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../public/js/jsgarage.js"></script>
</body>
</html>